# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/
django_venv/

# =========================
# Django
# =========================
*.log
local_settings.py

# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Static / Media
# =========================
staticfiles/
media/

# =========================
# Django Migrations
# =========================
# Usually DON'T ignore migrations.
# Keep migration files in Git.

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/

# =========================
# Type Checking
# =========================
.mypy_cache/
.dmypy.json
dmypy.json

# =========================
# Build / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Ruff
# =========================
.ruff_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Documentation
# =========================
docs/_build/


