Django
asgiref
sqlparse
tzdata

psycopg
psycopg-binary

django-ratelimit

djangorestframework
django-cors-headers

django-crispy-forms
crispy-bootstrap5

python-dotenv
requests
Pillow
gunicorn
